@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(../images/GifOutlook.gif);
}

#cartItems {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5% 10%;
  gap: 10px;
}

#name {
  font-family: "Audiowide", cursive;
  color: white;
  font-size: 7vh;
}

.heading {
  display: flex;
  justify-content: space-between;
  background: rgba(217, 240, 11, 0.589);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  max-height: 7vh;
  min-height: 3vh;
  padding: 2%;
  align-items: center;
  overflow: hidden;
}

.back {
  display: flex;
  gap: 15px;
}

.container {
  min-width: 20vh;
  max-width: 38vh;
  max-height: 60vh;
  min-height: 30vh;
  flex-direction: column;
  display: flex;
  overflow: hidden;
  border: 1px solid;
  padding: 5px;
  gap: 4px;
  background: url(../images/images1.jpeg);
}

.image {
  min-height: 20vh;
  max-height: 35vh;
  max-width: 40vh;
  min-width: 20vh;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.created {
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot-info {
  color: blue;
  text-decoration-line: underline;
  font-family: "Audiowide", cursive;
}

.foot {
  background-color: white;
  padding: 10px;
}

.fa-arrow-left:hover {
  transition: all 0.5s linear;
  color: black;
}

@media screen and (max-width: 560px) {
  #name {
    font-size: 6vh;
  }
}

@media screen and (max-width: 490px) {
  #name {
    font-size: 5vh;
  }
}

@media screen and (max-width: 400px) {
  #name {
    font-size: 4.5vh;
  }
}
@media screen and (max-width: 360px) {
  #name {
    font-size: 4vh;
  }
}

@media screen and (max-width: 330px) {
  #name {
    font-size: 3.5vh;
  }
}

@media screen and (max-width: 285px) {
  #name {
    font-size: 3vh;
  }
}

@media screen and (max-width: 245px) {
  #name {
    font-size: 2.5vh;
  }
}
