@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../images/kaspersky-map-2.gif);
  background-size: cover;
}

#name {
  font-family: "Audiowide", cursive;
  color: white;
  font-size: 7vh;
}

#sub {
  font-family: "Audiowide", cursive;
  color: white;
  font-size: 7vh;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.show {
  font-family: "Audiowide", cursive;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: white;
  font-size: 19px;
  font-weight: bold;
}

.login {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  overflow: hidden;
  border: white 1px solid;
  background: rgba(18, 33, 241, 0.582);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  max-height: 80vh;
  max-width: 60vh;
  min-height: 10vh;
  min-width: 20vh;
  padding: 50px;
}

.heading {
  display: flex;
  justify-content: space-between;
  background: rgba(144, 190, 132, 0.589);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  max-height: 7vh;
  min-height: 3vh;
  padding: 2%;
  align-items: center;
}
.info {
  font-size: 20px;
  padding: 10px;
}

.foot {
  background-color: white;
  padding: 10px;
}

.btn {
  color: white;
  font-size: 25px;
  font-family: "Audiowide", cursive;
  background: black;
  cursor: pointer;
}

.btn:active{
  color: black;
  background: white;
}

a {
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.created {
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot-info {
  color: blue;
  text-decoration-line: underline;
  font-family: "Audiowide", cursive;
}

.showpass{
  display: flex;
  align-items: center;
}

#error{
  color: red;
}

@media screen and (max-width: 560px){
  #name {
    font-size: 6vh;
  }
}

@media screen and (max-width: 490px) {
#name{
  font-size: 5vh;
}
}
@media screen and (max-width: 400px){
  #name{
    font-size: 4.5vh;
  }
}

@media screen and (max-width: 375px){
  #name{
    font-size: 3vh;
  }
  #profile{
    left:10%;
  }
    
}

@media screen and (max-width: 360px){
  #name{
    font-size: 4vh;
  }
  .form{
    padding: 40px;
  }
}

@media screen and (max-width: 350px){
.form{
padding: 30px;
}

#error{
  font-size: 3vh;
}

.btn{
  font-size: 18px;
}

}

@media screen and (max-width: 330px){
  #name{
    font-size: 3.5vh;
  }

  #sub{
    font-size: 5vh;
  }
  .show{
    font-size: 15px;
  }

  #error{
    font-size: 2vh;
  }

  .info{
    font-size: 15px;
  }

  .btn{
    font-size: 15px;
  }
}

@media screen and (max-width: 285px){
  #name{
    font-size: 3vh;
  }

  #sub{
    font-size: 4vh;
  }
  .show{
    font-size: 13px;
  }

  .info{
    font-size: 13px;
  }

  .btn{
    font-size: 13px;
  }
}

@media screen and (max-width: 245px){
  #name{
    font-size: 2.5vh;
  }

  .form{
    padding: 20px;
  }
  
  #sub{
    font-size: 3.5vh;
  }
  .show{
    font-size: 10px;
  }

  .info{
    font-size: 10px;
  } 
  
  .btn{
    font-size: 10px;
  }
}
