* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;   
    justify-content: center;
}

#filters{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.show-items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5% 10%;
    gap: 10px;
}

.container{
    min-width: 20vh;
    max-width: 38vh;
    max-height: 60vh;
    min-height: 30vh;
    flex-direction: column;
    display: flex;
    overflow: hidden;
    border: 1px solid;
    padding: 5px;
    gap:4px
}

.image{
    min-height: 20vh;
    max-height: 35vh;
    max-width: 40vh;
    min-width: 20vh;
}

#added {
    display: none;
}
  
#added.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#update {
    display: none;
}
  
#update.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.product-info{
    height: 5vh;
}

.imageup{
    height: 40vh;
    width: 40vh;
}

#cart{
    position: fixed;
    top: 5%;
    left: 100%;
    bottom: 0;
    background-color: yellow;
    transition: all 0.2 linear;
}

#cart.active{
    left: 0;
}

.cartbtn{
    position: fixed;
    z-index: 100;
}
