@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../images/register.gif);
  background-size: cover;
}
.heading {
  display: flex;
  justify-content: space-between;
  background: rgba(190, 132, 132, 0.589);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  max-height: 7vh;
  min-height: 3vh;
  padding: 2%;
  align-items: center;
}

#title {
  font-family: "Audiowide", cursive;
  color: white;
  font-size: 7vh;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  overflow: hidden;
  border: white 1px solid;
  max-height: fit-content;
  max-width: 80vh;
  min-height: 10vh;
  min-width: 20vh;
  background: rgba(170, 166, 166, 0.842);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  padding: 35px;
}

.register {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.foot {
  border-top: black 1px solid;
  background-color: white;
  padding: 5px;
}
.info {
  font-size: 15px;
  padding: 10px;
}

#sub {
  font-family: "Audiowide", cursive;
  color: black;
  font-size: 7vh;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.created {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  color: white;
  font-size: 25px;
  font-family: "Audiowide", cursive;
  background: black;
  cursor: pointer;
}

.btn:active{
  color: black;
  background: white;
}

.foot-info {
  color: blue;
  text-decoration-line: underline;
  font-family: "Audiowide", cursive;
}

.show {
  font-family: "Audiowide", cursive;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  color: black;
  font-size: 19px;
  font-weight: bold;
}

a {
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.showpass{
  display: flex;
  align-items: center;
}

#email-er{
  color: red;
  text-decoration-line:underline ;
font-weight: bolder;
}

.id-er{
color: red;
text-decoration-line:underline ;

}

.user-er{
color: red;
text-decoration-line:underline ;
}