@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../images/register.gif);
  background-size: cover;
}
.heading {
  display: flex;
  justify-content: space-between;
  background: rgba(190, 132, 132, 0.589);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  max-height: 7vh;
  min-height: 3vh;
  padding: 2%;
  align-items: center;
}

#title {
  font-family: "Audiowide", cursive;
  color: white;
  font-size: 7vh;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  overflow: hidden;
  border: white 1px solid;
  max-height: fit-content;
  max-width: 80vh;
  min-height: 10vh;
  min-width: 20vh;
  background: rgba(170, 166, 166, 0.842);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  padding: 35px;
}

.register {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.foot {
  border-top: black 1px solid;
  background-color: white;
  padding: 5px;
}
.info {
  font-size: 15px;
  padding: 10px;
}

#sub {
  font-family: "Audiowide", cursive;
  color: black;
  font-size: 7vh;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.created {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  color: white;
  font-size: 25px;
  font-family: "Audiowide", cursive;
  background: black;
  cursor: pointer;
}

.btn:active{
  color: black;
  background: white;
}

.foot-info {
  color: blue;
  text-decoration-line: underline;
  font-family: "Audiowide", cursive;
}

.show {
  font-family: "Audiowide", cursive;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  color: black;
  font-size: 19px;
  font-weight: bold;
}

a {
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.showpass{
  display: flex;
  align-items: center;
}

#email-er{
  color: red;
  text-decoration-line:underline ;
font-weight: bolder;
}

.id-er{
color: red;
text-decoration-line:underline ;

}

.user-er{
color: red;
text-decoration-line:underline ;
}


@media screen and (max-width: 626px){
  #title {
    font-size: 6vh;
  }
}

@media screen and (max-width: 545px) {
#title{
  font-size: 5vh;
}
}
@media screen and (max-width: 455px){
  #title{
    font-size: 4.5vh;
  }
}



@media screen and (max-width: 405px){
  #title{
    font-size: 4vh;
  }
  .form{
    padding: 40px;
  }
}

@media screen and (max-width: 384px){
  #title{
    font-size: 3.5vh;
  }
  #profile{
    left:10%;
  }
    
}

@media screen and (max-width: 375px){
  #title{
    font-size: 2.5vh;
  }
    
}

@media screen and (max-width: 365px){
  #title{
    font-size: 3.5vh;
  }
}

@media screen and (max-width: 350px){
.form{
padding: 30px;
}

#email-er{
  font-size: 3vh;
}

#id-er{
  font-size: 3vh;
}

#user-er{
  font-size: 3vh;
}

.btn{
  font-size: 18px;
}

}

@media screen and (max-width: 330px){
  #title{
    font-size: 3.5vh;
  }

  #sub{
    font-size: 5vh;
  }
  .show{
    font-size: 15px;
  }

  #email-er{
    font-size: 2vh;
  }

  .id-er{
    font-size: 2vh;
  }

  .user-er{
    font-size: 2vh;
  }

  .info{
    font-size: 15px;
    padding: 5px;
  }

  .btn{
    font-size: 15px;
  }
}

@media screen and (max-width: 315px){
  #title{
    font-size: 3vh;
  }

  #sub{
    font-size: 4vh;
  }
  .show{
    font-size: 13px;
  }

  .info{
    font-size: 13px;
  }

  .btn{
    font-size: 13px;
  }
}

@media screen and (max-width: 245px){
  #title{
    font-size: 2.5vh;
  }

  .form{
    padding: 20px;
  }
  
  #sub{
    font-size: 3.5vh;
  }
  .show{
    font-size: 10px;
  }

  .info{
    font-size: 10px;
  } 
  
  .btn{
    font-size: 10px;
  }
}
