@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5%;
  background: url(../images/giphy.gif) fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#filters {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  height: 0;
  overflow: hidden;
  border: none;
  transition: all 0.2s linear;
}

#filters.active {
  height: 4.5vh;
}

.show-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5% 10%;
  gap: 10px;
}

.container {
  min-width: 20vh;
  max-width: 38vh;
  max-height: 60vh;
  min-height: 30vh;
  background: url(../images/123234.jpeg);
  flex-direction: column;
  display: flex;
  overflow: hidden;
  border: 1px solid;
  padding: 5px;
  gap: 4px;
  transition: all 0.2s linear;
}

.container:hover {
  max-width: 40vh;
  max-height: 65vh;
}

.image {
  min-height: 20vh;
  max-height: 41vh;
  max-width: 41vh;
  min-width: 20vh;
}

.info {
  color: white;
}
.heading {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  background: rgba(132, 156, 190, 0.589);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  max-height: 7vh;
  min-height: 3vh;
  padding: 2%;
  align-items: center;
}

#name {
  font-family: "Audiowide", cursive;
  color: white;
  font-size: 7vh;
}
.log {
  display: flex;
  gap: 10px;
}

.profile-btn {
  background: none;
  border: none;
  color: white;
  font-size: 25px;
  cursor: pointer;
  font-family: 'Audiowide', cursive;
}

.link {
  text-decoration-line: none;
  color: white;
}

.foot {
  background-color: white;
  padding: 10px;
}

.items {
  height: 4vh;
  width: 15vh;
  border: 1px solid black;
  border-radius: 50px;
  background: linear-gradient(145deg, #4fcca9, #43ac8e);
  transition: all 0.2s linear;
  cursor: pointer;
}

.items:active {
  background: linear-gradient(145deg, #43ac8e, #4fcca9);
  box-shadow: inset 32px 32px 35px #3fa286, inset -32px -32px 35px #55dcb6;
}

.opening {
  display: flex;
  justify-content: center;
  align-items: center;
}

#greeting {
  color: white;
}


.btn {
  border: 1px solid white;
  background: linear-gradient(145deg, #ff0000, #e60000);
  cursor: pointer;
}

.btn:active {
  background: #ff0000;
  box-shadow: inset 20px 20px 60px #d90000, inset -20px -20px 60px #ff0000;
}

.btns {
  display: flex;
  gap: 10px;
}

.back {
  position: fixed;
  top: 10;
  left: 1;
  right: 10px;
  bottom: 10px;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.created {
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot-info {
  color: blue;
  text-decoration-line: underline;
  font-family: "Audiowide", cursive;
}

#profile {
  position: fixed;
  top: 52px;
  left: 73%;
  transition: all 0.2s linear;
  background: #004cff;
  box-shadow: inset 20px 20px 60px #0041d9, inset -20px -20px 60px #0057ff;
  padding: 20px;
  height: 0;
  visibility: hidden;
}

#profile.active{
    visibility: visible;
    height: 40vh;
}

.pro {
  color: white;
  font-family: "Audiowide", cursive;
  font-size: 3vh;

}

.data {
  font-family: none;
  text-decoration-line: none;
  font-size: 3vh;
}

#profile1 {
  color: white;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 20px;
  overflow: hidden;
  visibility: hidden;
  height: 0;
  transition: all 0.2s linear;
}

#profile1.active{
visibility: visible;
height: 35vh;
}
