@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;   
    justify-content: center;
}

#filters{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.show-items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5% 10%;
    gap: 10px;
}

.container{
    min-width: 20vh;
    max-width: 38vh;
    max-height: 60vh;
    min-height: 30vh;
    flex-direction: column;
    display: flex;
    overflow: hidden;
    border: 1px solid;
    padding: 5px;
    gap:4px
}

.image{
    min-height: 20vh;
    max-height: 40vh;
    max-width: 40vh;
    min-width: 20vh;
}

.heading{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: rgba( 113, 147, 138, 0.15 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    max-height: 7vh;
    min-height: 3vh;
    align-items: center;
}

#name{
    font-family: 'Audiowide', cursive;
    color: black;
    font-size: 7vh;
}
 .log{
     display: flex;
     gap: 5px;
 }